html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
html {
	scroll-behavior: smooth;
}
body{
	font-family: 'Advent Pro';
	background-color: #f9f9f9;
}
p {
	font-size: 1.25em;
}
b {
	font-size: 1.25em;
	font-weight: bold;
}
a:hover{
	text-decoration: none;
}
h1{
	font-size: 3.5em;
}
h2 {
	font-size: 3.25em;
}
h3 {
	font-size: 3em;
}
section{
	padding-bottom: 7.5em;
}
nav{
	/*Horizontal Nav bar on top of webpage*/
	padding-top: 1em;
	list-style: none;
	padding-right: 7.5em;
	background-color: #FF585B;
	float: right;
}
nav li{
	/*Allows nav elements to sit side by side*/
	display: inline;
}
nav a{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	color: white;

	font-size: 24px;
	font-weight: bold;
}
nav a:hover {
	color: #fcc4c4;
	text-decoration: none;
}
ul{
	list-style-type: none;
}
li {
	padding-bottom: 1em;
}
footer{
	border: 0;
	background-color: #FF585B;
	text-align: center;
	padding: 10px 0px;
	color: white;
	margin: 0;
	margin-top: 5em;
}
footer a{
	color: #ffffff;
}
canvas {
	background: #eee; display: block; margin: 0 auto;
}
#header{
	text-align: center;
	color: white;
	padding-top: 2.5em;
}
.wrapper{
	margin: 0 auto;
	min-width: 300px;
	width: 60%;
}
#center{
	text-align: center;
}
.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#overview{
	color: white;
	font-size: 1.5em;
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
	font-style: italic;
}
#intro{
	padding-bottom: 2em;
	background-color: #FF585B;
}
#italics{
	font-style: italic;
}
@keyframes downArrowColor {
	0% {
		color: white
	}
	50% {
		color: #FF585B;
	}
	100%{
		color: white;
	}
}
#down-arrow{
animation: downArrowColor;
animation-iteration-count: infinite;
animation-duration: 1s;
text-align: center;
font-size: 3em;
display: block;
margin-top: 5em;
}
#downarrow: hover{
color: white;
}
#logo{
	float: left;
	background-color: #FF585B;
	padding-top: 2em;
	padding-left: 2em;
}
.contact{
	background-color: #c6373a;
	padding: 0.5em;
}
.shopping-list-item{
	float: none;
}
.shopping-list-x-button{
	float: right;
}
.grid3 img{
	float: left;
	display: table;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.sbs-left{
	float: left;
	width: 50%;
	overflow: hidden;
}
.sbs-right{
	float: left;
	width: 25%;
	overflow: hidden;

	margin-right: 25%;
	padding: 2em;
	padding-top: 0.5em;
	background-color: #fffff4;
}
